header {
  background-color: lightblue;
  height:10rem;
  width: 100%;
}

main {
  margin: 0 auto;
  text-align:center;
  font-size: 1rem;
}

.search-box {
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  width: 50rem;
  margin: 0 auto;
}

.search-box input {
  padding: 1rem;
  width: 80%;
  font-size: inherit;
}

.search-box button {
  border-radius: 0px 1rem 1rem 0px;
  height: 1;
  padding: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
