.header {
  height: 10rem;
  width: 100%;
  background-color: #2C1320;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: #52273D;
  mask-image: url("/src/assets/books.svg");
  mask-position-y: 50%;
}

.animate-texture {
  animation-name: scroll;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

main {
  margin: 0 auto;
  text-align:center;
  font-size: 1rem;
}

.search-box {
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  width: 50rem;
  margin: 0 auto;
}

.search-box input {
  padding: 1rem;
  width: 80%;
  font-size: inherit;
}

.search-box button {
  border-radius: 0px 1rem 1rem 0px;
  height: 1;
  padding: 1rem;
}

@keyframes scroll {
  from {
    mask-position-y: 50%
  }
  to {
    mask-position-y: -150%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
